In [16]:
import pandas as pd 
import numpy as np

In [ ]:
data = np.array([
    [101, 'Alice', 25, 50000],
    [102, 'Bob', 30, 60000],
    [103, 'Charlie', 35, 70000],
    [104, 'David', 40, 80000]
])

df =pd.DataFrame(data=data , columns=['ID', 'Name', 'Age', 'Salary'] ,index=None )
df

In [ ]:
# can change the index as you like 
df =pd.DataFrame(data=data , columns=['ID', 'Name', 'Age', 'Salary'] ,index=[10,15,20,25] )
df

In [ ]:
df.info()

In [ ]:
# loc Vs. iloc
# rows       ,  colums
# start:end:step,start:end:step
df.loc[10:25:2,'ID':'Salary']

In [ ]:
#iloc  postion of index
df.iloc[0:2,0:]

In [ ]:
#filtering baice on name = Bob	
# can use == ,!=  , 
df[df['Name']=='Bob']

In [ ]:
# filter mulit condtions
df.loc[ (df['ID']>'101') | (df['Salary'] >'6000' )  ]

In [ ]:
# get names end with 'e'
df[ df['Name'].str.endswith('e')  ]

In [ ]:
df

In [ ]:
#sort values
df.sort_values('Salary',ascending=False)

In [ ]:
#sort indix
df.sort_index(ascending=False)

In [ ]:
df

In [ ]:

# make DataFrame with nan
data = {
    'A': [1, np.nan, np.nan, np.nan],
    'B': [np.nan, 2, 3, np.nan],
    'C': [1, np.nan, 3, 4]
}

df_thresh = pd.DataFrame(data)
print("DataFrame : ")
print( df_thresh)

# remove each row has 2 nan by use thresh
df_cleaned = df_thresh.dropna(thresh=2)
print("\n ropna(thresh=2):")
print(df_cleaned)

In [32]:
df_employees = pd.DataFrame({
    'Employee_ID': [101, 102, 103, 104],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Department_ID': [1, 2, 1, 3]
})


df_departments = pd.DataFrame({
    'Department_ID': [1, 2, 3, 4],
    'Department_Name': ['HR', 'IT', 'Finance', 'Marketing']
})

In [ ]:
# how ==> use to make inner join 
# can make left , right 

df_inner = pd.merge(df_employees, df_departments,on='Department_ID',how='inner')
df_inner

In [4]:
#replace 
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['Cairo', 'Alex', 'Cairo', 'Giza']
})


df['City'] = df['City'].replace('Cairo', 'New Cairo')
df

      Name  Age       City
0    Alice   25  New Cairo
1      Bob   30       Alex
2  Charlie   35  New Cairo
3    David   40       Giza

In [ ]:
# data frame 


df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Salary': [50000, 60000, 70000, 80000]
})

In [13]:
# where  VS mask
df_where = df['Age'].where(df['Age'] > 30)

# mask
df_mask = df['Age'].mask(df['Age'] > 30)

print("Using where():\n", df_where)
print("\nUsing mask():\n", df_mask)

Using where():
 0     NaN
1     NaN
2    35.0
3    40.0
Name: Age, dtype: float64

Using mask():
 0    25.0
1    30.0
2     NaN
3     NaN
Name: Age, dtype: float64

In [17]:
#interpolate massing values 
df = pd.DataFrame({
    'Day': [1, 2, 3, 4, 5],
    'Temperature': [30, np.nan, 35, np.nan, 40]
})

df['Temperature_interpolated'] = df['Temperature'].interpolate(method='linear')
df

   Day  Temperature  Temperature_interpolated
0    1         30.0                      30.0
1    2          NaN                      32.5
2    3         35.0                      35.0
3    4          NaN                      37.5
4    5         40.0                      40.0