In [25]:
import findspark
findspark.init()

In [26]:
from pyspark.sql import SparkSession

In [27]:
spark =SparkSession.builder.getOrCreate()

In [28]:
sc=spark.sparkContext

In [29]:
data_rdd=sc.parallelize([
    ('shehab',23),('hassan',45),('ali',22) ,('ahmed',15),('hamed',27),('she',12),('he',32)
])

In [30]:
data_rdd.collect()

[('shehab', 23),
 ('hassan', 45),
 ('ali', 22),
 ('ahmed', 15),
 ('hamed', 27),
 ('she', 12),
 ('he', 32)]

In [31]:
data_rdd1=spark.createDataFrame([
    ('shehab',23),('hassan',45),('ali',22) ,('ahmed',15),('ahmed',27),('she',12),('ali',32)],['name','age']
)

In [32]:
data_rdd1.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)

In [33]:
data_rdd1.show(5)

+------+---+
|  name|age|
+------+---+
|shehab| 23|
|hassan| 45|
|   ali| 22|
| ahmed| 15|
| ahmed| 27|
+------+---+
only showing top 5 rows

In [34]:
data_rdd1.collect()

[Row(name='shehab', age=23),
 Row(name='hassan', age=45),
 Row(name='ali', age=22),
 Row(name='ahmed', age=15),
 Row(name='ahmed', age=27),
 Row(name='she', age=12),
 Row(name='ali', age=32)]

In [35]:
data_rdd1.collect()[0]#by row

Row(name='shehab', age=23)

In [36]:
data_rdd1.show()

+------+---+
|  name|age|
+------+---+
|shehab| 23|
|hassan| 45|
|   ali| 22|
| ahmed| 15|
| ahmed| 27|
|   she| 12|
|   ali| 32|
+------+---+

In [37]:
data_rdd1.groupBy('name').avg('age').show()

+------+--------+
|  name|avg(age)|
+------+--------+
|shehab|    23.0|
|hassan|    45.0|
|   ali|    27.0|
| ahmed|    21.0|
|   she|    12.0|
+------+--------+

In [38]:
data_rdd1.head() #first row only

Row(name='shehab', age=23)

In [39]:
from pyspark.sql.functions import avg

In [40]:
avg_data=data_rdd1.groupBy("name").agg(avg("age").alias("average_age"))

In [41]:
avg_data.show()

+------+-----------+
|  name|average_age|
+------+-----------+
|shehab|       23.0|
|hassan|       45.0|
|   ali|       27.0|
| ahmed|       21.0|
|   she|       12.0|
+------+-----------+

In [42]:
avg_data.printSchema()

root
 |-- name: string (nullable = true)
 |-- average_age: double (nullable = true)

In [61]:
df = spark.read.csv('2010-summary.csv',header=True)
df.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|    1|
|       United States|            Ireland|  264|
|       United States|              India|   69|
|               Egypt|      United States|   24|
|   Equatorial Guinea|      United States|    1|
|       United States|          Singapore|   25|
|       United States|            Grenada|   54|
|          Costa Rica|      United States|  477|
|             Senegal|      United States|   29|
|       United States|   Marshall Islands|   44|
|              Guyana|      United States|   17|
|       United States|       Sint Maarten|   53|
|               Malta|      United States|    1|
|             Bolivia|      United States|   46|
|            Anguilla|      United States|   21|
|Turks and Caicos ...|      United States|  136|
|       United States|        Afghanistan|    2|
|Saint Vincent and...|      United States|    1|
|               Italy|      United States|  390|
|       United States|             Russia|  156|
+--------------------+-------------------+-----+
only showing top 20 rows

In [65]:
df['DEST_COUNTRY_NAME']

Column<'DEST_COUNTRY_NAME'>

In [66]:
from pyspark.sql.functions import col

In [67]:
col('_c0')

Column<'_c0'>

In [68]:
df.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|    1|
|       United States|            Ireland|  264|
|       United States|              India|   69|
|               Egypt|      United States|   24|
|   Equatorial Guinea|      United States|    1|
|       United States|          Singapore|   25|
|       United States|            Grenada|   54|
|          Costa Rica|      United States|  477|
|             Senegal|      United States|   29|
|       United States|   Marshall Islands|   44|
|              Guyana|      United States|   17|
|       United States|       Sint Maarten|   53|
|               Malta|      United States|    1|
|             Bolivia|      United States|   46|
|            Anguilla|      United States|   21|
|Turks and Caicos ...|      United States|  136|
|       United States|        Afghanistan|    2|
|Saint Vincent and...|      United States|    1|
|               Italy|      United States|  390|
|       United States|             Russia|  156|
+--------------------+-------------------+-----+
only showing top 20 rows

In [72]:
df.select("DEST_COUNTRY_NAME")

DataFrame[DEST_COUNTRY_NAME: string]

In [73]:
df.select("DEST_COUNTRY_NAME").show()

+--------------------+
|   DEST_COUNTRY_NAME|
+--------------------+
|       United States|
|       United States|
|       United States|
|               Egypt|
|   Equatorial Guinea|
|       United States|
|       United States|
|          Costa Rica|
|             Senegal|
|       United States|
|              Guyana|
|       United States|
|               Malta|
|             Bolivia|
|            Anguilla|
|Turks and Caicos ...|
|       United States|
|Saint Vincent and...|
|               Italy|
|       United States|
+--------------------+
only showing top 20 rows

In [74]:
df.persist()

DataFrame[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string, count: string]

In [75]:
df.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|    1|
|       United States|            Ireland|  264|
|       United States|              India|   69|
|               Egypt|      United States|   24|
|   Equatorial Guinea|      United States|    1|
|       United States|          Singapore|   25|
|       United States|            Grenada|   54|
|          Costa Rica|      United States|  477|
|             Senegal|      United States|   29|
|       United States|   Marshall Islands|   44|
|              Guyana|      United States|   17|
|       United States|       Sint Maarten|   53|
|               Malta|      United States|    1|
|             Bolivia|      United States|   46|
|            Anguilla|      United States|   21|
|Turks and Caicos ...|      United States|  136|
|       United States|        Afghanistan|    2|
|Saint Vincent and...|      United States|    1|
|               Italy|      United States|  390|
|       United States|             Russia|  156|
+--------------------+-------------------+-----+
only showing top 20 rows

In [ ]:
df.unpersist()

In [76]:
df.sort('count').show()

+--------------------+--------------------+-----+
|   DEST_COUNTRY_NAME| ORIGIN_COUNTRY_NAME|count|
+--------------------+--------------------+-----+
|       United States|             Estonia|    1|
|             Vietnam|       United States|    1|
|       United States|          Azerbaijan|    1|
|   Equatorial Guinea|       United States|    1|
|       United States|              Serbia|    1|
|Saint Vincent and...|       United States|    1|
|            Malaysia|       United States|    1|
|       United States|Bosnia and Herzeg...|    1|
|       United States|             Algeria|    1|
|          Azerbaijan|       United States|    1|
|       United States|    Papua New Guinea|    1|
|       United States|             Liberia|    1|
|       United States|             Vietnam|    1|
|               Malta|       United States|    1|
|       United States|              Cyprus|    1|
|            Slovakia|       United States|    1|
|             Liberia|       United States|    1|
|       United States|             Romania|    1|
|       United States|               Gabon|    1|
|       United States|             Bahrain|    1|
+--------------------+--------------------+-----+
only showing top 20 rows

----------------------------------------
Exception occurred during processing of request from ('127.0.0.1', 51438)
Traceback (most recent call last):
  File "c:\Users\Shehab\anaconda3\Lib\socketserver.py", line 317, in _handle_request_noblock
    self.process_request(request, client_address)
  File "c:\Users\Shehab\anaconda3\Lib\socketserver.py", line 348, in process_request
    self.finish_request(request, client_address)
  File "c:\Users\Shehab\anaconda3\Lib\socketserver.py", line 361, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "c:\Users\Shehab\anaconda3\Lib\socketserver.py", line 755, in __init__
    self.handle()
  File "C:\Big Data\spark\python\pyspark\accumulators.py", line 295, in handle
    poll(accum_updates)
  File "C:\Big Data\spark\python\pyspark\accumulators.py", line 267, in poll
    if self.rfile in r and func():
                           ^^^^^^
  File "C:\Big Data\spark\python\pyspark\accumulators.py", line 271, in accum_updates
    num_updates = read_int(self.rfile)
                  ^^^^^^^^^^^^^^^^^^^^
  File "C:\Big Data\spark\python\pyspark\serializers.py", line 594, in read_int
    length = stream.read(4)
             ^^^^^^^^^^^^^^
  File "c:\Users\Shehab\anaconda3\Lib\socket.py", line 706, in readinto
    return self._sock.recv_into(b)
           ^^^^^^^^^^^^^^^^^^^^^^^
ConnectionResetError: [WinError 10054] An existing connection was forcibly closed by the remote host
----------------------------------------