In [2]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark= SparkSession.builder.getOrCreate()

In [3]:
from pyspark.sql import functions as sf

In [4]:
df=spark.createDataFrame([(14, "Tom"), (23, "Alice"), (16, "Bob")], ["age", "name"])
df.show()

+---+-----+
|age| name|
+---+-----+
| 14|  Tom|
| 23|Alice|
| 16|  Bob|
+---+-----+

In [5]:
df[df.age>14].show()

+---+-----+
|age| name|
+---+-----+
| 23|Alice|
| 16|  Bob|
+---+-----+

In [6]:
df.agg(sf.max(df.age)).show()

+--------+
|max(age)|
+--------+
|      23|
+--------+

In [7]:
df.agg(sf.min(df.age)).show()

+--------+
|min(age)|
+--------+
|      14|
+--------+

#### pyspark.sql.DataFrame.coalesce

In [9]:
df = spark.range(10)
df.coalesce(1).rdd.getNumPartitions()#number of partitions

1

In [12]:
df = spark.createDataFrame(
    [(14, "Tom", "CA"), (23, "Alice", "NY"), (16, "Bob", "TX")],
    ["age", "name", "state"])

In [14]:
df.columns

['age', 'name', 'state']

In [19]:
df_with_out_age =[i for i in df.columns if i !="age"]
df.select(df_with_out_age).show()

+-----+-----+
| name|state|
+-----+-----+
|  Tom|   CA|
|Alice|   NY|
|  Bob|   TX|
+-----+-----+

In [21]:
"x" in df.columns

False

In [22]:
"name" in df.columns

True